ONEC_PRODUCTS_URL=https://1c.yoot.pro:4443/trade3/hs/catalog/products
ONEC_USERNAME=site
ONEC_PASSWORD=8gW6lXBU4Xxig2

REACT_APP_URL=https://the-sociophobic.github.io/maytry
NODE_ENV=dev

SERVER_PORT=5010

ESLINT_NO_DEV_ERRORS=true
DISABLE_ESLINT_PLUGIN=true
